.pagination_horizontal {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
}

.pagination_vertical {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  right: 0;
  top: 0;
}

.pagination_dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.pagination_dot_active {
  background-color: #000;
}

.pagination_num {
  font-size: medium;
  color: #fff;
}
